:root {
  --color-text1: #deedcf;
  --color-text2: #ffcbcc;
  --color-text3: #b9e6e3;
  --color-text4: #e1d0a1;
  --color-text5: #ccd3f6;
  --color-bg1: #3f4849;
  --color-bg2: #493f46;
  --color-bg3: #2b3242;
  --color-bg4: #3b3232;
  --color-bg5: #2d3a40;
  --color-text: var(--color-text1);
  --color-bg: var(--color-bg1);
  --color-link: var(--color-text);
  --color-link-hover: #fff;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

body {
  margin: 0;
  font-family: "source-sans-pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  background-color: var(--color-bg);
  transition: background-color 0.5s;
  height: auto;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 3; */
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 5;
  position: relative;
  pointer-events: all;
}

.content.hide {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  transition: color 0.3s;
}

::-webkit-scrollbar {
  width: 0px;
}

/* 
Slideshow
*/
.slideshow {
  position: relative;
  width: 100%;
}

.slideshow__container {
  display: block;
  width: 100%;
  height: 100vh;
  will-change: transform;
}

.slideshow__list {
  display: flex;
  align-items: center;
  padding: 9rem 5vw 5rem;
  height: calc(100vh - 14rem);
  max-height: 100vh;
}

.slideshow__list__element {
  flex: 0 0 auto;
  width: 100%;
  min-width: 25rem;
  max-width: 40vmin;
  margin-left: 15vw;
  list-style-type: none;
}

.slideshow__list__element:last-child {
  padding-right: 10vw;
  box-sizing: content-box;
}

@media screen and (min-width: 768px) {
  .slideshow__list__element {
    margin-left: 20vw;
  }
}

@media screen and (min-width: 1112px) {
  .slideshow__list__element {
    transform: translateY(8vh);
  }

  .slideshow__list__element:nth-child(even) {
    transform: translateY(-8vh);
  }
}

.slideshow__progress {
  position: fixed;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  width: 13rem;
  height: 0.4rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.4rem;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .slideshow__progress {
    bottom: 5%;
  }
}

.slideshow__progress--bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translatex(-100%);
  display: block;
}

/* 
Tile
*/
.tile {
  position: relative;
}

.tile:hover .tile__title,
.tile:hover p {
  color: var(--color-link-hover);
}

.tile__figure {
  position: relative;
  width: 100%;
}

.tile__figure::before {
  content: " ";
  display: block;
  padding-top: 136.36%;
}

.tile__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.3s;
  opacity: 0;
}

.tile__content {
  position: absolute;
  bottom: 3.6rem;
  left: 0;
  width: 100%;
  font-size: 1.4rem;
}

.slideshow__list .slideshow__list__element:nth-child(1) .tile__content {
  color: var(--color-text1);
}

.slideshow__list .slideshow__list__element:nth-child(2) .tile__content {
  color: var(--color-text2);
}

.slideshow__list .slideshow__list__element:nth-child(3) .tile__content {
  color: var(--color-text3);
}

.slideshow__list .slideshow__list__element:nth-child(4) .tile__content {
  color: var(--color-text4);
}

.slideshow__list .slideshow__list__element:nth-child(5) .tile__content {
  color: var(--color-text5);
}

.tile__title {
  margin-left: -15%;
  font-size: calc(2rem + 2.5vw);
  font-family: "orpheuspro", serif;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1.05;
  transition: color 0.3s;
}

@media screen and (min-width: 768px) {
  .tile__title {
    margin-left: -45%;
  }
}

.tile__title span {
  display: block;
  overflow: hidden;
}

.tile__title span span {
  display: block;
  text-align: left;
}

.tile__title span:last-child span {
  margin-left: 23%;
}

.tile__cta {
  margin-left: 6.4%;
  margin-top: 2rem;
  transition: color 0.3s;
}

@media screen and (min-width: 768px) {
  .tile__cta {
    margin-left: -11%;
  }
}

.tile__cta span {
  display: block;
  overflow: hidden;
}

.tile__cta span span {
  display: inline-block;
  line-height: 1.5;
  border-bottom: 0.1rem solid;
}

/* 
Frame, Title and Message
*/
.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: var(--color-text);
  color: var(--color-bg);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .message {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .frame {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 3rem);
    padding: 3rem;
    display: grid;
    grid-template-columns: 0% 100% 0%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title demos links"
      ". . ."
      ". . .";
  }
}

.page__title {
  position: fixed;
  top: 9rem;
  left: 5vw;
  font-size: calc(4vw + 8rem);
  font-family: "orpheuspro", serif;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 0.975;
  text-align: center;
  opacity: 0.1;
  will-change: transform;
}

.frame {
  position: fixed;
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3rem 5vw;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .frame {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 3rem);
    padding: 3rem;
    display: grid;
    grid-template-columns: 0% 100% 0%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title demos links"
      ". . ."
      ". . .";
  }
}

.frame__links {
  display: flex;
  gap: 2rem;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .frame__links {
    padding: 0;
    grid-column: -1 / 1;
    grid-area: demos;
    gap: 0;
    text-decoration: none;
  }
}

.frame__links a:first-child {
  margin-right: auto;
}

.frame__links a:not(:first-child) {
  margin-right: 2rem;
}

.frame a:hover {
  color: var(--color-link-hover);
}

.frame__demo {
  margin-bottom: 3rem;
  order: -1;
}

@media screen and (min-width: 768px) {
  .frame__demo {
    margin-bottom: 0;
    grid-area: demos;
    justify-self: center;
  }
}

/* 
Detail
*/
.detail {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  opacity: 0;
  pointer-events: none;
}

.detail.visible {
  pointer-events: all;
  opacity: 1;
}

.detail__inner {
  width: calc(100% - 15vw);
  height: 100%;
  color: #fff;
  padding: 9rem 5vw 5rem 10vw;
}

.close__detail {
  padding: 0;
  border: 0;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.close__detail__svg {
  animation: rotate 40s linear infinite;
}

.close__detail__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detail__title {
  margin-top: 4rem;
  margin-bottom: 5rem;
  color: var(--color-text);
  font-size: calc(10rem + 3vw);
  font-family: "orpheuspro", serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.05;
  white-space: nowrap;
}

.detail__title span {
  display: block;
  overflow: hidden;
}

.detail__title span span {
  display: block;
}

.detail__text {
  width: 100%;
  max-width: 35vw;
  font-size: 1.8rem;
  line-height: 1.9;
  opacity: 0.7;
}

.detail__text:not(:last-child) {
  margin-bottom: 3rem;
}

.detail__text span {
  display: block;
  overflow: hidden;
}
.detail__text span span {
  display: block;
}

/* 
Loading
*/
body.loading::before,
body.loading::after {
  content: "";
  position: fixed;
  z-index: 1000;
}

body.loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: var(--color-bg);
}

body.loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
